TRELLOOO_DEVELOPMENT_DB_NAME:
TRELLOOO_DEVELOPMENT_DB_USERNAME:
TRELLOOO_DEVELOPMENT_DB_PASSWORD:

TRELLOOO_TEST_DB_NAME:
TRELLOOO_TEST_DB_USERNAME:
TRELLOOO_TEST_DB_PASSWORD:

TRELLOOO_PRODUCTION_DB_NAME:
TRELLOOO_PRODUCTION_DB_USERNAME:
TRELLOOO_PRODUCTION_DB_PASSWORD:
TRELLOOO_PRODUCTION_HOSTNAME:
TRELLOOO_PRODUCTION_PORT:
